<div fxLayout>
	<h2 fxFlex md-dialog-title>{{ title }} </h2>
	<button md-icon-button md-dialog-close><md-icon>cancel</md-icon></button>
</div>

<md-dialog-content style="height:100%">
	<invoice-form 
		[data]="invoice"
		[customer]="customer"
		[payment]="payment"
		[products]="products"
	></invoice-form>	
</md-dialog-content>

<!--
[number]   = "invoice.number"
		[date]     = "invoice.date"
		[note]     = "invoice.note"
		[customer] = "customer.company.name"
		[mrp]      = "customer.company.mrp"
		[uic]      = "customer.company.uic"
		[email]    = "customer.contacts.email"
		[phone]    = "customer.contacts.phone"
		[city]     = "customer.address.city"
		[country]  = "customer.address.country"
		[address]  = "customer.address.locale"
		[date_pay] = "invoice.date_pay"
		[payment]  = "payment.title"
<md-dialog-actions [attr.align]="actionsAlignment">
	<button
		md-raised-button
		color="primary"
		md-dialog-close>Close</button>
	<a
		md-button
		color="primary"
		href="https://en.wikipedia.org/wiki/Neptune"
		target="_blank">Read more on Wikipedia</a>
  
	<button
		md-button
		color="secondary"
		(click)="showInStackedDialog()">
		Show in Dialog</button>
</md-dialog-actions>
-->


