<md-toolbar background="transparent">
	<div fxFlex>
		<button md-icon-button (click)="app.layout.leftbar.toggle()"><md-icon>menu</md-icon></button>
		Клиенти
	</div>
	<label>
		<md-input type="search" [(ngModel)]="searchTerm">
			<span md-prefix><md-icon>search</md-icon></span>
			<span md-suffix></span>
		</md-input>
		<button md-raised-button color="primary" (click)="newCustomer()">Нов</button>
	</label>
</md-toolbar>


<div class="padding">
	<table class="data">
		<thead><tr>
			<th>Име</th>
			<th>Email</th>
		</tr></thead>
		<tbody>
		
			<tr *ngFor="let customer of customers | search : searchTerm">
				<td>{{ customer.name.personal }} {{ customer.name.surname }} {{ customer.name.family }}</td>
				<td>{{ customer.email | getValueOfType:"work" }}</td>
			</tr>
		
		</tbody>
	</table>
</div>