<md-sidenav-container>

        <md-sidenav #leftbar color="primary" align="start" mode="side" opened="true" 
				style="width:160px; height:100vh;" class="no-print">
			<div style="overflow-y:auto; overflow-x:hidden">
				<button md-button background="dark" (click)="collections.resetData()" style="height: 52px!important">
					<md-icon>account_circle</md-icon>
					<span>
						<span>{{ collections.authService.user }}</span>
						<br>
						<span style="color:#aaa; font-size:0.7rem; margin-left: 28px;position:relative;top:-5px;">
							{{ getDbName() }}</span>
					</span>
				</button>
				
				<button md-button routerLink="Home" routerLinkActive="active" (click)="leftbarMenuController=Home">
					<md-icon style1="font-size:1.15rem;">home</md-icon> 
					<label>{{ 'Home'|translate }}</label>
				</button>
				<div *ngFor="let group of Config.Navigation">
					<md-toolbar color="transparent"  routerLinkActive="active" (click)="leftbarMenuController=group.title" style="font-size:1rem!important">
						<span fxFlex ><md-icon>{{ group.icon }}</md-icon> {{ group.title | translate }} </span>
						<span style="margin-right:-15px">
							<md-icon *ngIf="leftbarMenuController!==group.title">chevron_right</md-icon>
							<md-icon *ngIf="leftbarMenuController==group.title">expand_more</md-icon>
						</span>
					</md-toolbar>
					<div *ngIf="leftbarMenuController==group.title">
						<button  md-button (click)="title=item.title"
							*ngFor="let item of group.children"
								routerLink="{{ item.path }}"
								routerLinkActive="active"
								title="{{ item.desc }}"
						>{{ item.title | translate }}</button>
					</div>
				</div>

				<md-toolbar color="transparent" >
					<button md-icon-button style="margin-top:-0.3em" title="Купи модул"><md-icon>extension</md-icon></button>
					<button md-icon-button style="margin-top:-0.3em" title="Документация"><md-icon>explore</md-icon></button>
					<button md-icon-button style="margin-top:-0.3em" title="Свържи се с нас"><md-icon>question_answer</md-icon></button>
				</md-toolbar>

			</div>
		</md-sidenav>
                
        
        <div style="min-width:750px;height:100vh">
            <router-outlet></router-outlet>
        </div>
		<md-sidenav #rightbar align="end" mode="side" style="width:300px; height:100vh" class="noprint">
			<md-toolbar style="background:transparent">
				<button md-icon-button (click)="app.layout.rightbarLocked=!app.layout.rightbarLocked;">
					<md-icon *ngIf="!app.layout.rightbarLocked">lock_open</md-icon>
					<md-icon *ngIf= "app.layout.rightbarLocked">lock</md-icon>
				</button>
			</md-toolbar>
		
		</md-sidenav>
		
</md-sidenav-container>


<ng2-toasty
	[position]="'top-right'"
></ng2-toasty>
<!--
	addToast() {
        // Just add default Toast with title only
        this.toastyService.default('Hi there');
        // Or create the instance of ToastOptions
        var toastOptions:ToastOptions = {
            title: "My title",
            msg: "The message",
            showClose: true,
            timeout: 5000,
            theme: 'default',
            onAdd: (toast:ToastData) => {
                console.log('Toast ' + toast.id + ' has been added!');
            },
            onRemove: function(toast:ToastData) {
                console.log('Toast ' + toast.id + ' has been removed!');
            }
        };
        // Add see all possible types in one shot
        this.toastyService.info(toastOptions);
        this.toastyService.success(toastOptions);
        this.toastyService.wait(toastOptions);
        this.toastyService.error(toastOptions);
        this.toastyService.warning(toastOptions);
    }
-->
