<md-sidenav-layout >
	<md-toolbar color="transparent">
			<span fxFlex>
				<button md-icon-button (click)="app.layout.leftbar.toggle()"><md-icon>menu</md-icon></button>
				{{ 'Invoicing' | translate }}
			</span>
			<span>
				<label style="margin-right: 1em">
					<md-input type="search" [(ngModel)]="search">
						<span md-prefix><md-icon>search</md-icon></span>
						<span md-suffix>{{ listInfo.founded }} / {{ listInfo.all }}</span>
					</md-input>
				</label> 
				<button md-raised-button color="primary" (click)="editInvoiceModal()">{{ 'New'|translate }}</button>
				<button md-icon-button routerLink="/Invoicing/Print"><md-icon>open_in_new</md-icon></button>
			</span>
	</md-toolbar>
		
		
	<div class="padding" style="height: calc(100vh - 46px)">
			<div background="smoke" style="text-align:center; padding-bottom:0.5em">
				<div>
					<md-icon class="prefix">date_range</md-icon>  
					<md-input type="date" placeholder="От"></md-input>
					<md-input type="date" placeholder="до"></md-input>
				</div>
				<div>
					<md-icon class="prefix">№</md-icon>
					<md-input type="number" placeholder="От"></md-input>
					<md-input type="number" placeholder="до"></md-input>
				</div>
				<button md-raised-button color="primary" (click)="load()"><md-icon>filter_list</md-icon> Филтър</button>
			</div>
			
			<br>
		
			<invoices-table
				[invoices]="invoices 
							| search  : search 
									  : ['search every where'] 
									  : listInfo
							| orderBy : listInfo.orderBy : listInfo.orderWay
							| slice   : listInfo.perPage*(listInfo.page-1) : listInfo.perPage*listInfo.page
							| dump    : exportList
							"
				[order]="listInfo.orderBy"
				(orderChange)="listInfo.orderBy=$event"
				[orderWay]="listInfo.orderWay"
				(orderWayChange)="listInfo.orderWay=$event"
				[selected]="selected"
				(selectedChange)="select($event)"
			></invoices-table>

			
			<br>
			<div fxLayout="row">
				<label fxFlex>
					<select class="md-input-element" [(ngModel)]="listInfo.perPage" style="width:auto">
						<option *ngFor="let opt of listInfo.perPageOptions" value="{{ opt }}">{{ opt }}</option>
					</select> на страница
				</label>
				<label><app-pagination [(active)]="listInfo.page" [pages]="getPagesNum()"></app-pagination></label>
			</div>
			
			<br><br>
			
			<button md-icon-button routerLink="/Invoicing/Settings"><md-icon>settings</md-icon></button>
	</div>

		
	<md-sidenav #invoicing_bar opened="true" align="end" mode="side" style="width:33%;height:100vh" class="no-print"
		*ngIf="selected && selected.data.number > 0"
	>
			<md-toolbar>
				<div fxFlex><button md-raised-button color="primary" (click)="editInvoiceModal(selected)">EDIT</button></div>
				<button md-icon-button (click)="selected=null;app.layout.leftbar.open()"><md-icon>visibility_off</md-icon></button>
				<button md-icon-button (click)="invoicing_bar.close()"><md-icon>chevron_right</md-icon></button>
			</md-toolbar>
			
			<div style="overflow-y:auto" class="padding">
				<invoice-view
					[invoice]="selected.data"
					[customer]="selected.customer"
					[products]="selected.products"
					[payment]="selected.payment"
				></invoice-view>
			</div>
	</md-sidenav>
</md-sidenav-layout>

