<form style="width1:400px" >
	<div fxLayout="row" fxLayoutPosition="space-between center">
		<md-input fxFlex [(ngModel)]="data.number"   name="number"   type="number" placeholder="Номер" value="{{ number }}" autofocus></md-input>
		<span>&nbsp;&nbsp;&nbsp;</span>
		<md-input fxFlex [(ngModel)]="data.date"     name="date"     type="date"   placeholder="Дата" value="{{ date }}"></md-input>
	</div>
	<div fxLayout>
		<md-input [(ngModel)]="customer.company.name" name="customerCompanyName" type="text"   placeholder="Клиент" value="{{ customer.companyname }}" style="width:100%">
		</md-input>
		<span class="suffix"><button md-icon-button color="primary"><md-icon>add_box</md-icon></button></span>
	</div>
	<div fxLayout="row">
		<md-input fxFlex [(ngModel)]="city"     name="city"     type="text"   placeholder="Град" value="{{ city }}"></md-input>
		<span>&nbsp;&nbsp;&nbsp;</span>
		<md-input fxFlex [(ngModel)]="address"  name="address"  type="text"   placeholder="Адрес" value="{{ address }}"></md-input>
	</div>
	<div fxLayout="row">
		<md-input fxFlex [(ngModel)]="customer.contacts.phone"      name="phone"      type="text"   placeholder="Тел." value="{{ phone }}"></md-input>
		<span>&nbsp;&nbsp;&nbsp;</span>
		<md-input fxFlex [(ngModel)]="customer.contacts.email"    name="email"    type="email"  placeholder="Email" value="{{ email }}"></md-input>
	</div>
	<div fxLayout="row">
		<md-input fxFlex [(ngModel)]="payment"  name="payment"  type="text"   placeholder="Начин на плащане" value="{{ payment }}"></md-input>
		<span>&nbsp;&nbsp;&nbsp;</span>
		<md-input fxFlex [(ngModel)]="data.date_pay" name="date_pay" type="date"   placeholder="Срок за плащане"value="{{ date_pay }}"></md-input>
	</div>
	
	<div>
		<md-textarea [(ngModel)]="data.note" placeholder="Забележка" name="note" style="width:100%">{{ note }}</md-textarea>
	</div>
	

	<br>
	<div align="right">
		<button type="button" md-raised-button color="primary" (click)="save()">Save</button>
	</div>
</form>