<form style="width1:400px" >
	<div fxLayout="row" fxLayoutPosition="space-between center">
		<md-input-container fxFlex> 
			<input mdInput [(ngModel)]="data.number"   name="number"   type="number" placeholder="Номер" value="{{ number }}" autofocus>
		</md-input-container>
		<span>&nbsp;&nbsp;&nbsp;</span>
		<md-input-container fxFlex>
			<input mdInput [(ngModel)]="data.date"     name="date"     type="date"   placeholder="Дата" value="{{ date }}">
		</md-input-container>
	</div>
	<div fxLayout>
		<md-input-container fxFlex> 
		<input mdInput [(ngModel)]="customer.company.name" name="customerCompanyName" type="text"   placeholder="Клиент" value="{{ customer.companyname }}" style="width:100%">
		</md-input-container>
		<span class="suffix"><button md-icon-button color="primary"><md-icon>add_box</md-icon></button></span>
	</div>
	<div fxLayout="row">
		<md-input-container fxFlex> 
			<input mdInput [(ngModel)]="city"     name="city"     type="text"   placeholder="Град" value="{{ city }}">
			</md-input-container>
		<span>&nbsp;&nbsp;&nbsp;</span>
		<md-input-container fxFlex> 
			<input mdInput [(ngModel)]="address"  name="address"  type="text"   placeholder="Адрес" value="{{ address }}">
			</md-input-container>
	</div>
	<div fxLayout="row">
		<md-input-container fxFlex> 
			<input mdInput [(ngModel)]="customer.contacts.phone"      name="phone"      type="text"   placeholder="Тел." value="{{ phone }}">
			</md-input-container>
		<span>&nbsp;&nbsp;&nbsp;</span>
		<md-input-container fxFlex>
			<input mdInput [(ngModel)]="customer.contacts.email"    name="email"    type="email"  placeholder="Email" value="{{ email }}">
			</md-input-container>
	</div>
	<div fxLayout="row">
		<md-input-container fxFlex> 
			<input mdInput [(ngModel)]="payment"  name="payment"  type="text"   placeholder="Начин на плащане" value="{{ payment }}">
			</md-input-container>
		<span>&nbsp;&nbsp;&nbsp;</span>
		<md-input-container fxFlex> 
			<input mdInput [(ngModel)]="data.date_pay" name="date_pay" type="date"   placeholder="Срок за плащане"value="{{ date_pay }}">
			</md-input-container>
	</div>
	
	<div fxLayout>
		<md-input-container fxFlex>
		<textarea mdInput [(ngModel)]="data.note" placeholder="Забележка" name="note" >{{ note }}</textarea>
		</md-input-container>
	</div>
	

	<br>
	<div align="right">
		<button type="button" md-raised-button color="primary" (click)="save()">Save</button>
	</div>
</form>