<md-toolbar color="transparent">
	<div fxFlex>
		<button md-icon-button (click)="app.layout.leftbar.toggle()"><md-icon>menu</md-icon></button>
		{{ 'Home' | translate }}
	</div>
</md-toolbar>


<div class="padding" fxLayout="row">
	<md-card fxFlex="50" style="padding:0">
		<md-toolbar color="primary">DB Information</md-toolbar>
		<br>
		<md-card-content class="padding">
			
			<div>
				<div><md-card-subtitle>База данни:</md-card-subtitle>
					<b>{{ collections.authService.dbUrl }}</b>
				</div>
				<br><br>
				<div><md-card-subtitle>{{'User'|translate}}:</md-card-subtitle> 
					<b>{{ collections.authService.user }}</b> </div>
				<br> 
				&nbsp;
			</div>
		</md-card-content>
		<!--
		<div>
		<md-card-actions style="text-align: center">
			<button md-raised-button color="primary">Смени</button>
		</md-card-actions>
		</div>
		-->
	</md-card>
</div>

