<md-toolbar color="transparent">
	<div fxFlex>
		<button md-icon-button (click)="app.layout.leftbar.toggle()"><md-icon>menu</md-icon></button>
		Начало
	</div>
</md-toolbar>


<div class="padding" fxLayout="row">
	<md-card fxFlex="50" style="padding:0">
		<md-toolbar color="primary">DB Server</md-toolbar>
		<br>
		<md-card-content class="padding">
			<md-card-subtitle>Сменете сорса на базата с данни</md-card-subtitle>
			<md-radio-group name="serv" >
				<md-radio-button *ngFor="let db of dbs"
					style="width:100%"
					[value]="db.link"
					(click)="collections.changeDb(db.link)"
					[checked]="db.link==collections.db"
				>{{ db.title }}</md-radio-button>
			</md-radio-group>
			<div>
				<md-input #dbUrl style="width:100%" 
					(input)="collections.changeDb(dbUrl.value)" 
					[value]="collections.db"></md-input>
			</div>
		</md-card-content>
		<!--
		<div>
		<md-card-actions style="text-align: center">
			<button md-raised-button color="primary">Смени</button>
		</md-card-actions>
		</div>
		-->
	</md-card>
</div>

