<md-toolbar color="transparent">
	<div fxFlex>
		<button md-icon-button (click)="app.layout.leftbar.toggle()"><md-icon>menu</md-icon></button>
		{{ 'Home' | translate }}
	</div>
</md-toolbar>


<div class="padding" fxLayout="row">
	<md-card fxFlex="50" style="padding:0">
		<md-toolbar color="primary">DB Information</md-toolbar>
		<br>
		<md-card-content class="padding">
			<md-card-subtitle>Връзка с Базата</md-card-subtitle>
			<div>
				<div>URL : <br><b>{{ collections.authService.dbUrl }}</b> </div>
				<br>
				<div>{{'User'|translate}} : <br><b>{{ collections.authService.user }}</b> </div>
				<br> 
				&nbsp;
			</div>
		</md-card-content>
		<!--
		<div>
		<md-card-actions style="text-align: center">
			<button md-raised-button color="primary">Смени</button>
		</md-card-actions>
		</div>
		-->
	</md-card>
</div>

