<table class="data hover selectable printable orderable" style="min-width: 563px;">
	<thead><tr>
			<th width="20px">Пл.</th>
			<th (click)="orderBy('data.number')"
				[class.ordered]="order=='data.number'" [class.desc]="orderWay!='asc'" 
				width="50px" style1="padding:0 1em"> № </th>
			<th (click)="orderBy('data.date')"
				[class.ordered]="order=='data.date'" [class.desc]="orderWay!='asc'" 
				width="90px"> Дата </th>
			<th (click)="orderBy('customer.company.name')"
				[class.ordered]="order=='customer.company.name'" [class.desc]="orderWay!='asc'" 
				> Клиент </th>
			<th (click)="orderBy('data.sum')"
				[class.ordered]="order=='data.sum'" [class.desc]="orderWay!='asc'" 
				width="80px" align="right"> Сума <br><sup>без ДДС</sup></th>
			<th (click)="orderBy('data.discount')" 
				[class.ordered]="order=='data.discount'" [class.desc]="orderWay!='asc'" 
				width="60px" align="right"> Отстъпка </th>
			<th (click)="orderBy('data.vat')" 
				[class.ordered]="order=='data.vat'" [class.desc]="orderWay!='asc'" 
				width="60px" align="right"> ДДС </th>
			<th (click)="orderBy('data.total')" 
				[class.ordered]="order=='data.total'" [class.desc]="orderWay!='asc'" 
				width="80px" align="right"> Тотал </th>
				
	</tr></thead>
	<tbody>
		<tr *ngFor="let invoice of invoices"
			[class.selected]="selected && selected._id == invoice._id"
			(click)="selectedChange.emit(invoice)"
		>
			<td align="center"><md-icon>start</md-icon></td>
			<td align="center">{{ invoice.data?.number }}</td>
			<td align="center">{{ invoice.data?.date     | date : 'dd.MM.yyyy' }}</td>
			<td align="left">  {{ invoice.customer?.company?.name }}</td>
			<td align="right"> {{ invoice.data?.sum      | number : '.2-2' }}</td>
			<td align="right"> {{ invoice.data?.discount | number : '.2-2' }}</td>
			<td align="right"> {{ invoice.data?.vat      | number : '.2-2' }}</td>
			<th align="right"> {{ invoice.data?.total    | number : '.2-2' }}</th>
		</tr>
		<tr *ngIf="!invoices || invoices.length < 1">
			<th colspan="8">Няма намерени записи</th>
		</tr>
	</tbody>
	<tfoot><tr>
		<td colspan="4"></td>
		<td align="right">{{ getSum('sum')      | number : '.2-2' }}</td>
		<td align="right">{{ getSum('discount') | number : '.2-2' }}</td>
		<td align="right">{{ getSum('vat')      | number : '.2-2' }}</td>
		<td align="right" background="dark">{{ getSum('total') | number : '.2-2' }}</td>
	</tr></tfoot>
</table>
