.page-head, .page-foot { color: #aaa; font-size: 0.8em }

@media print {	
	.print-page { 
		margin: 0; padding:0; box-sizing: border-box;
		width: 185mm; /*210mm;/**/ /*height: 280mm;/*297mm;*/
		page-break-after: always;
	} 
}

@media screen {
	#export-invoice-content {
		padding:1rem;
		overflow: auto;
		height: calc(100vh - 2rem - 45px);
	}
	.item-container { max-width: 800px; margin:auto; }
	.print-page { 
		background: #fff;
		border: 1px solid gray; 
		margin: 1rem 0 2rem 0; 
		padding: 10px;
	}
	
}

